<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if user_signed_in? %>
	<%= current_user.name %>
	<%= link_to "List Discounts", discounts_path %>
	<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Log In", login_path %>
<%= link_to "Sign Up", sign_up_path %>
<% end %>
