<dt class="row row-no-gutters" id = "<%= "booking-#{booking.id}" %>" >
  <div class="col-xs-12 col-md-8">
    <div class="col-xs-6 col-md-4 title-booking">
      <span class="text-center"><%= booking.user.titleize_name %></span>
    </div>
    <div class="col-xs-6 col-md-4 title-booking">
      <span class="text-center"><%= booking.book_at %></span>
    </div>
    <div class="col-xs-6 col-md-4 title-booking">
      <span class="text-center"><%= booking.checkout %></span>
    </div>
  </div>
  <div class="col-xs-6 col-md-4 row-select">
    <%= link_to booking_orders_path(booking.id), class: "btn btn-default" do %>
      <i class="fa fa-eye" aria-hidden="true"></i>
      <span><%= t "buttons.view" %></span>
    <% end %>
    <% if check_unpaid? booking %>
      <%= link_to booking, method: :delete, data: {confirm: t("messages.delete")}, remote: true, class: "btn btn-danger" do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <span><%= t "buttons.delete" %></span>
      <% end %>
    <% end %>
  </div>
</dt>
