<%= form_for(@booking, url: table_bookings_path, method: :post ) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :people %>
  <%= f.select :people, @array_people, { selected: @booking.people }, class: "form-control" %>

  <%= f.label :book_at %>
  <div class="form-group">
    <div class="input-group date" id="datetimepicker">
      <%= f.text_field :book_at, class: "form-control" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>

  <%= f.label :desc %>
  <%= f.text_area :desc, class: "form-control" %> 

  <%= f.submit yield(:button_name), class: "btn btn-primary" %>
<% end %>
<br>
<div>
  <%= link_to t(:button_back), tables_path, class: "btn btn-primary btns" %>
</div>

<script type="text/javascript">
  $(function () {
    $("#datetimepicker").datetimepicker({format: "YYYY/MM/DD HH:mm"});
  });
</script>
