<% provide(:title, t("bookings.eidt.name_page")) %>
<% provide(:button_name, t("bookings.edit.button_save")) %>
<h1><%= t("bookings.edit.name_page") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@booking, url: booking_path(@booking.id), method: :patch) do |f| %>
      <%= render "shared/error_messages", object: f.object %>


      <%= f.label :people %>
      <%= f.select :people, Booking.people.keys, { selected: @booking.people }, class: "form-control", disabled: true %>

      <%= f.label :book_at %>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker">
          <%= f.text_field :book_at, class: "form-control", disabled: true %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <%= f.label :desc %>
      <%= f.text_area :desc, class: "form-control", disabled: true %> 

      <%= f.label :checkout %>
      <% if @booking.unpaid? %>
        <%= f.select :checkout, Booking.checkouts.keys, { selected: @booking.checkout }, class: "form-control" %>
      
        <%= f.submit yield(:button_name), class: "btn btn-primary" %>
      <% else %>
        <%= f.select :checkout, Booking.checkouts.keys, { selected: @booking.checkout }, class: "form-control", disabled: true %>
      <% end %>

    <% end %>
    <br>
    <div>
      <%= link_to t(:button_back), show_booking_path, class: "btn btn-primary btns" %>
    </div>
  </div>
</div>
