<% provide :title, t("bookings.index.name_page") %>

<div class="title-name">
  <span class="content-name"><%= t "bookings.index.name_page" %></span>
</div>
<br><br>
<dl>
  <dt class="row row-no-gutters first-row">
    <div class="col-xs-12 col-md-8">
      <div class="col-xs-6 col-md-4 title-table">
        <span class="text-center"><%= t "bookings.index.title_user" %></span>
      </div>
      <div class="col-xs-6 col-md-4 title-table">
        <span class="text-center"><%= t "bookings.index.title_booked_at" %></span>
      </div>
      <div class="col-xs-6 col-md-4 title-table">
        <span class="text-center"><%= t "bookings.index.title_status" %></span>
      </div>
    </div>
    <div class="col-xs-6 col-md-4 title-table">
      <span class="text-center"><%= t "bookings.index.title_action" %></span>
    </div>
  </dt>
  <%= render @bookings %>
  <div class="pagination-content">
    <div class="parent-pagination">
      <%= pagy_bootstrap_nav(@pagy).html_safe %>
    </div>
  </div>
</dl>
