<div class="container">
  <div class="form-create">
    <%= form_for @table do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <span class="title-create text-center"><%= yield :title %></span>

      <%= f.label :type_table, class: "text-input" %>
      <%= f.select :type_table, Table.type_tables.keys, {selected: @table.type_table}, class: "input-form" %>

      <%= f.label :description, class: "text-input" %>
      <%= f.text_area :description, class: "input-form" %>

      <%= f.submit yield(:button_name), class: "btn submit" %>
      <br>
      <div>
        <%= link_to t(:button_back), tables_path, class: "btn submit" %>
      </div>
    <% end %>
  </div>
</div>
