<dt class="row row-no-gutters" id = "<%= "table-#{table.id}" %>" >
  <div class="col-xs-6 col-md-4 title-table-content">
    <span class="text-center"><%= t("tables.show.name_table", number: table.id) %></span>
  </div>
  <div class="col-xs-6 col-md-4 title-table-content">
    <span class="text-center"><%= table.description %></span>
  </div>
  <div class="col-xs-6 col-md-4 row-select-table">
    <%= link_to table, class: "btn btn-default" do %>
      <i class="fa fa-eye" aria-hidden="true"></i>
      <span><%= t "buttons.view" %></span>
    <% end %>
    <% if check_admin_login? %>
      <%= link_to edit_table_path(table), class: "btn btn-default" do %>
        <i class="fa fa-cog"></i>
        <span><%= t "buttons.edit" %></span>
      <% end %>
      <%= link_to table, method: :delete, data: {confirm: t("messages.delete")}, remote: true, class: "btn btn-danger" do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        <span><%= t "buttons.delete" %></span>
      <% end %>
    <% end %>
  </div>
</dt>
