<% provide :title, t("tables.index.name_page") %>

<div class="title-name">
  <span class="content-name"><%= t "tables.index.name_page" %></span>

  <% if check_admin_login? %>
    <%= link_to new_table_path, class: "btn button-add-custom" do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span><%= t "tables.index.button_create" %></span>
    <% end %>
  <% end %>
</div>
<br>
<dl>
  <% if check_admin_login? %>
    <dt class="row row-no-gutters first-row">
      <div class="col-xs-6 col-md-4 title-menu-name">
        <span class="text-center"><%= t "tables.index.title_table" %></span>
      </div>
      <div class="col-xs-6 col-md-4 title-menu-name">
        <span class="text-center"><%= t "tables.index.title_desc" %></span>
      </div>
      <div class="col-xs-6 col-md-4 title-menu-name">
        <span class="text-center"><%= t "tables.index.title_action" %></span>
      </div>
    </dt>
  <% end %>
  <%= render @tables %>
</dl>
<div class="pagination-content">
  <div class="parent-pagination">
    <%= pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
</div>
