<%= form_for(@post, url: catalog_posts_path(params[:catalog_id]), method: :post) do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :content %>
  <%= f.text_field :content, class: "form-control" %>

  <%= f.submit yield(:button_name), class: "btn btn-primary" %>
<% end %>
<br>
<div>
  <%= link_to t(:button_back), catalog_path(params[:catalog_id]), class: "btn btn-primary btns" %>
</div>
