<% provide :title, t("posts.show.name_page") %>

<div class="container">
  <div class="title-create">
    <span class="text-center"><%= @post.title %></span>
  </div>
  <div class="post-content">
    <span class="text-left"><%= @post.content %></span>
  </div>
  <div class="form-comment">
    <div id= "comments-link", class= "btn btn-outline-primary">
      <%= t("buttons.comment") %>
      (<span id="number-comment"><%= @post.comments.count %></span>)
    </div>
    <div class="form-comments">
      <% if @post.comments.any? %>
        <dl class="comments">
          <%= render partial: "comments/comment", collection: @post.comments, as: "comment" %>
        </dl>
      <% end %>
      <% if user_signed_in? %>
        <section class="comment_form">
          <%= render partial: "comments/form_comment" %>
        </section>
      <% end %>
    </div>
  </div>
</div>
